<div class="container text-shadow mt-3">
  <div class="col-auto text-center">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

{{#if characters.length}}
<div class="character-list text-center mt-5 text-shadow">
    <h3>Select a character:</h3>
  <div class="dispCharacterInfo bg-dark" style="--bs-bg-opacity: .5;">
    {{!-- Add code to display character information --}}
    {{#each characters}}
    <container class="bg-dark">
      <ul class="mt-5"><a class="text-info fs-3" href="/characters/{{this.id}}">{{this.name}}</a></ul>
      <li>{{this.race}} {{this.class}}</li>
      </ul>
    <div class="del-Btn">
      <button class="btn btn-sm btn-danger mb-3" data-id="{{this.id}}">DELETE</button>
    </div>
    </container>
      {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>