<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="">
  <div class="">
    <h3>Select a character</h3>
    {{!-- Add code to display character information --}}
    <ul>
      {{#each characters}}
        <ul><a href="/characters/{{this.id}}">{{this.name}}</a></ul>
        <li>{{this.race}}</li>
        <li>{{this.class}}</li>
      <form class="form delete-character">
        <div class="form-group">
            <button class="btn btn-primary" data-id="{{this.id}}">Delete Character</button>
        </div>
      </form>
      {{/each}}
    </ul>
  </div>
</div>

<script src="./js/profile.js"></script>

